@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BebasNeue-Bold";
  src: url("./assets/fonts/BebasNeue-Bold.otf");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./assets/fonts/BebasNeue-Regular.otf");
}

@font-face {
  font-family: "BebasNeue-Light";
  src: url("./assets/fonts/BebasNeue-Light.otf");
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button {
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
